nav ul li {
  display: inline;
  list-style-type: none;
}

span {
  float: right;
}

.icon {
  width: 30px;
}

#aboutme {
  padding: 30px 500px 30px 30px;
}

.projects {
  width: 400px;
}